/* -------------------------------------------------- */
/*  Design Tokens - Used Globally Across the Project  */
/* -------------------------------------------------- */

@layer theme {
  :root {
    /* Brand Colors */
    --color-primary: #4138de;
    --color-primary-200: #403d84;

    /* UI Backgrounds   */
    --color-bg: #f6f6f6;
    --color-bg-alt: #ffffff;
    --color-accent-pink-200: rgba(229, 208, 221, 0.37);
    --color-accent-green-200: rgba(221, 242, 204, 0.37);
    --color-accent-purple-200: rgba(216, 217, 239, 0.37);
    --color-accent-yellow-200: rgba(242, 238, 204, 0.37);
    --color-accent-blue-400: rgba(206, 204, 242, 0.64);
    --color-accent-blue-200: rgba(216, 217, 237, 0.44);
    --color-bg-hero: linear-gradient(
      90deg,
      #eaeef1 0%,
      #d8d9ef 49%,
      #eaeef1 100%
    );

    /* Text Colors */
    --color-text-black: #131522;
    --color-text-white: #ffffff;
    --text-orange: #dc7521;

    /* Border Radius */
    --radius-sm: 0.25rem;
    --radius-md: 0.5rem;
    --radius-lg: 1rem;
    --radius-xlg: 1.25rem;
    --radius-2xl: 1.56rem;
    --radius-3xl: 2.5rem;
    --radius-4xl: 3.125rem;

    /* border colors*/
    --border-pink: rgba(65, 56, 222, 0.39);
    --border-green: rgba(189, 226, 159, 0.89);
    --border-purple: rgba(189, 159, 226, 0.89);
    --border-yellow: rgba(226, 189, 159, 0.89);
    --border-blue: #aaaccf;
    /* Typography */
    --font-sans: "Inter", sans-serif;
    --font-heading: "Poppins", sans-serif;
    --text-sm: 0.875rem;
    --text-base: 1rem;
    --text-lg: 1.25rem;
    --text-xl: 1.5rem;
    --text-2xl: 2rem;
    --text-3xl: 2.5rem;
    --text-4xl: 3.125rem;
    --font-regular: 300;
    --font-semibold: 500;
    --font-bold: 700;

    /* Spacing */
    --space-xs: 0.2rem;
    --space-sm: 0.5rem;
    --space-md: 1rem;
    --space-lg: 1.25rem;
    --space-xl: 1.5rem;
    --space-2xl: 1.75rem;
    --space-3xl: 2rem;
    --space-4xl: 2.5rem;
  }
}
