@import "tailwindcss";

/* Import Design Tokens */
@import "../../styles/variables.css";

@custom-variant dark (&:where(.dark, .dark *));

/* -------------------------------------------------- */
/*  Base Project Setup                                */
/* -------------------------------------------------- */
@layer base {
  html {
    font-family: var(--font-sans);
    color: var(--color-text);
    background-color: var(--color-bg);
    scroll-behavior: smooth;
  }
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  img,
  svg,
  video {
    max-width: 100%;
    display: block;
  }
  html.dark {
    background-color: var(--color-bg);
    color: var(--color-text);
  }
  html.light {
    background-color: var(--color-bg);
    color: var(--color-text);
  }
}

/* -------------------------------------------------- */
/*  Container                    */
/* -------------------------------------------------- */
.container {
  width: 100%; /* default for mobile */
  margin-inline: auto;
  padding-inline: 16px;
  max-width: 1320px;
}

@media (min-width: 1024px) {
  /* tailwind lg breakpoint */
  .container {
    width: 92%;
  }
}
/* -------------------------------------------------- */
/*  Global Components / Utilities                     */
/* -------------------------------------------------- */
@layer utilities {
  /*Brand backgrounds*/
  .bg-primary {
    background-color: var(--color-primary);
  }
  .bg-footer {
    background-color: var(--color-primary-200);
  }
  .bg-white {
    background-color: var(--color-text-white);
  }
  .bg-gradient {
    background: var(--color-bg-hero);
  }
  .bg-pink {
    background-color: var(--color-accent-pink-200);
  }
  .bg-green {
    background-color: var(--color-accent-green-200);
  }
  .bg-purple {
    background-color: var(--color-accent-purple-200);
  }
  .bg-yellow {
    background-color: var(--color-accent-yellow-200);
  }
  .bg-blue-200 {
    background-color: var(--color-accent-blue-200);
  }
  .bg-blue-400 {
    background-color: var(--color-accent-blue-400);
  }
  /* Text Colors */
  .text-primary {
    color: var(--color-primary);
  }
  .text-black {
    color: var(--color-text-black);
  }
  .text-white {
    color: var(--color-text-white);
  }
  .text-orange {
    color: var(--text-orange);
  }

  /* bg Colors */
  .bg-bg {
    background-color: var(--color-bg);
  }
  .bg-bg-alt {
    background-color: var(--color-bg-alt);
  }
  /* circle Colors*/
  .circle-pink {
    background-color: var(--color-circle-pink-200);
  }
  .circle-purple {
    background-color: var(--color-circle-pink);
  }
  .circle-blue {
    background-color: var(--color-circle-blue-100);
  }
  .circle-orange {
    background-color: var(--color-circle-orange-100);
  }

  /* borders Utilities*/
  .border-pink {
    border: 1px solid var(--border-pink);
  }
  .border-green {
    border: 1px solid var(--border-green);
  }
  .border-purple {
    border: 1px solid var(--border-purple);
  }
  .border-yellow {
    border: 1px solid var(--border-yellow);
  }
  .border-white {
    border: 1px solid var(--color-text-white);
  }
  .border-blue {
    border-style: solid;
    border-color: var(--border-blue);
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 3px;
    border-left-width: 3px;
  }
  /* Shadows */
  .shadow-sm {
    box-shadow: var(--shadow-sm);
  }
  .shadow-md {
    box-shadow: var(--shadow-md);
  }
  .shadow-lg {
    box-shadow: var(--shadow-lg);
  }

  /* Radius Utilities */
  .rounded-sm {
    border-radius: var(--radius-sm);
  }
  .rounded-md {
    border-radius: var(--radius-md);
  }
  .rounded-lg {
    border-radius: var(--radius-lg);
  }
  .rounded-xl {
    border-radius: var(--radius-xl);
  }
  .rounded-2xl {
    border-radius: var(--radius-2xl);
  }
  .rounded-3xl {
    border-radius: var(--radius-3xl);
  }
  .rounded-4xl {
    border-radius: var(--radius-4xl);
  }

  /* Typography Utilities */
  .text-sm {
    font-size: var(--text-sm);
  }
  .text-base {
    font-size: var(--text-base);
  }
  .text-lg {
    font-size: var(--text-lg);
  }
  .text-xl {
    font-size: var(--text-xl);
  }

  .font-regular {
    font-weight: var(--font-regular);
  }
  .font-semibold {
    font-weight: var(--font-semibold);
  }
  .font-bold {
    font-weight: var(--font-bold);
  }
  .font-sans {
    font-family: var(--font-sans);
  }
  .font-heading {
    font-family: var(--font-heading);
  }

  /* Padding Utilities */
  .p-xm {
    padding: var(--spacing-xs);
  }
  .p-sm {
    padding: var(--spacing-sm);
  }
  .p-md {
    padding: var(--spacing-md);
  }
  .p-lg {
    padding: var(--spacing-lg);
  }
  .p-xl {
    padding: var(--spacing-xl);
  }
  .p-2xl {
    padding: var(--spacing-2xl);
  }
  .p-3xl {
    padding: var(--spacing-3xl);
  }
  .p-4xl {
    padding: var(--spacing-4xl);
  }
  /* Padding x */
  .px-xs {
    padding-left: var(--space-xs);
    padding-right: var(--space-xs);
  }
  .px-sm {
    padding-left: var(--space-sm);
    padding-right: var(--space-sm);
  }
  .px-md {
    padding-left: var(--space-md);
    padding-right: var(--space-md);
  }
  .px-lg {
    padding-left: var(--space-lg);
    padding-right: var(--space-lg);
  }
  .px-xl {
    padding-left: var(--space-xl);
    padding-right: var(--space-xl);
  }
  .px-2xl {
    padding-left: var(--space-2xl);
    padding-right: var(--space-2xl);
  }
  .px-3xl {
    padding-left: var(--space-3xl);
    padding-right: var(--space-3xl);
  }
  .px-4xl {
    padding-left: var(--space-4xl);
    padding-right: var(--space-4xl);
  }
  /* Padding y */
  .py-xs {
    padding-top: var(--space-xs);
    padding-bottom: var(--space-xs);
  }
  .py-sm {
    padding-top: var(--space-sm);
    padding-bottom: var(--space-sm);
  }
  .py-md {
    padding-top: var(--space-md);
    padding-bottom: var(--space-md);
  }
  .py-lg {
    padding-top: var(--space-lg);
    padding-bottom: var(--space-lg);
  }
  .py-xl {
    padding-top: var(--space-xl);
    padding-bottom: var(--space-xl);
  }
  .py-2xl {
    padding-top: var(--space-2xl);
    padding-bottom: var(--space-2xl);
  }
  .py-3xl {
    padding-top: var(--space-3xl);
    padding-bottom: var(--space-3xl);
  }
  .py-4xl {
    padding-top: var(--space-4xl);
    padding-bottom: var(--space-4xl);
  }
  /* Margin Utilities */
  .m-xm {
    padding: var(--spacing-xs);
  }
  .m-sm {
    padding: var(--spacing-sm);
  }
  .m-md {
    padding: var(--spacing-md);
  }
  .m-lg {
    padding: var(--spacing-lg);
  }
  .m-xl {
    padding: var(--spacing-xl);
  }
  .m-2xl {
    padding: var(--spacing-2xl);
  }
  .m-3xl {
    padding: var(--spacing-3xl);
  }
  .m-4xl {
    padding: var(--spacing-4xl);
  }
  /* Margin x */
  .mx-xs {
    padding-left: var(--space-xs);
    padding-right: var(--space-xs);
  }
  .mx-sm {
    padding-left: var(--space-sm);
    padding-right: var(--space-sm);
  }
  .mx-md {
    padding-left: var(--space-md);
    padding-right: var(--space-md);
  }
  .mx-lg {
    padding-left: var(--space-lg);
    padding-right: var(--space-lg);
  }
  .mx-xl {
    padding-left: var(--space-xl);
    padding-right: var(--space-xl);
  }
  .mx-2xl {
    padding-left: var(--space-2xl);
    padding-right: var(--space-2xl);
  }
  .mx-3xl {
    padding-left: var(--space-3xl);
    padding-right: var(--space-3xl);
  }
  .mx-4xl {
    padding-left: var(--space-4xl);
    padding-right: var(--space-4xl);
  }

  /* Margin Y */
  .my-xs {
    padding-top: var(--space-xs);
    padding-bottom: var(--space-xs);
  }
  .my-sm {
    padding-top: var(--space-sm);
    padding-bottom: var(--space-sm);
  }
  .my-md {
    padding-top: var(--space-md);
    padding-bottom: var(--space-md);
  }
  .my-lg {
    padding-top: var(--space-lg);
    padding-bottom: var(--space-lg);
  }
  .my-xl {
    padding-top: var(--space-xl);
    padding-bottom: var(--space-xl);
  }
  .my-2xl {
    padding-top: var(--space-2xl);
    padding-bottom: var(--space-2xl);
  }
  .my-3xl {
    padding-top: var(--space-3xl);
    padding-bottom: var(--space-3xl);
  }
  .my-4xl {
    padding-top: var(--space-4xl);
    padding-bottom: var(--space-4xl);
  }
}
